/* *CSS - GAMEBTN.CSS* */

.game-btn {
  cursor: url(https://s3-eu-west-1.amazonaws.com/dev.appdrag.com/games-07926e/catchlight/assets/crosshairM.png) 50 50, auto;
  border: rgb(211, 211, 211) solid 2px;
  background-color: rgb(190, 190, 190);
  width: 100%;
  height: 100%;
}

#btn-cont {
  cursor: url(https://s3-eu-west-1.amazonaws.com/dev.appdrag.com/games-07926e/catchlight/assets/crosshairM.png) 50 50, auto;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1vw;
  padding: 5px;
}
